{% extends "base.html" %}

<!-- {% block js %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='picking.js') }}"></script>

{% endblock %} -->

{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}

    <!-- start time -->
    <div class="form-group">
        <p>
            {{ form.event_name.label }}<br>
            {{ form.event_name(size=50) }}
        </p>
        {% for m in form.event_name.errors %}
            <span style="color: red;">{{m}}</span>
        {% endfor %}
    </div>

    <!-- start time -->
    <div class="form-group">
        <p>
            {{ form.start_time.label }}<br>
            {{ form.start_time(size=50) }}
        </p>
        <small class="form-text text-muted">Enter the earliest possible start date and time of your event in the format: <b>%Y-%m-%d %H:%M:%S</b></small>
        {% for m in form.start_time.errors %}
            <span style="color: red;">{{m}}</span>
        {% endfor %}        
    </div>

    <!-- end time -->
    <div class="form-group">
        <p>
            {{ form.end_time.label }} <br>
            {{ form.end_time(size=50) }}
        </p>
        <small class="form-text text-muted">Enter the latest possible end date and time of your event in the format: <b>%Y-%m-%d %H:%M:%S</b></small>
        {% for m in form.end_time.errors %}
            <span style="color: red;">{{m}}</span>
        {% endfor %}
    </div>

    <!-- minutes taken -->

    <div class="form-group">
        <p>
            {{ form.minutes.label }}<br>
            {{ form.minutes(size=50) }}
        </p>
        {% for m in form.minutes.errors %}
            <span style="color: red;">{{m}}</span>
        {% endfor %}
    </div>

    <!-- usernames -->
    <div class="form-group">
        <p>
            {{ form.usernames.label }}<br>
            {{ form.usernames(size=50) }}
        </p>
        <small class="form-text text-muted">Enter the usernames of all users joining your event, separated by commas</b></small>
        {% for m in form.usernames.errors %}
            <span style="color: red;">{{m}}</span>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-success">Get Times</button>
</form>

{% endblock %}